 .body{
  background-color: rgb(4, 90, 23); color: white; 
  font-family: Arial, sans-serif;
   margin: 0;
    padding: 0;
  }

  .header{color: rgb(233, 240, 233);}

  .nav{
    background-color: rgb(7, 122, 41); padding: 10px;
  }
.div{
  color: white; font-size: 20px; font-weight: bold;
  }

  .ul{
    list-style-type: none; display: flex; justify-content: space-around;
  margin: 10px; padding: 0; gap: 2%;color: white;
  }

  ul li a{
    color: white; text-decoration: none;
  }

  .contact-button{
   background-color: white; color: #2e7d32; border: none; padding: 10px 20px;
 border-radius: 20px; font-weight: bold;
  }

  .login-button{
    background-color: transparent; color: white; border: 2px solid white; padding: 
8px 18px; border-radius: 20px; font-weight: bold; text-decoration: none; margin-left: 10px;}

.review-box{background-color: white; color: #2e7d32; width: 220px; padding: 20px; border-radius: 15px; text-align: center; box-shadow: 0px 4px 10px rgba(0,0,0,0.3)}

.review-title{
  margin: 0; 
  font-size: 28px;}

  .review-description{
    margin: 5px 0; font-weight: bold;
  }

  .review-stars{
    margin: 0; color: #555;
  }

  img{
    width: 400px;
  }

  .benefit{
    background-color: white; color: #333; padding: 20px; border-radius: 12px;
  }
  
      .h3 {
        color: #2e7d32;
  }

  .id-box{
    background-color: white; color: #333; max-width: 400px; margin: 60px auto; padding: 30px; border-radius: 15px;
  }

  .data-fill{
    width: 100%;
    padding: 8px; margin: 8px 0 16px 0; border-radius: 5px; border: 1px solid #ccc;
  }

  .submit-btn{
    background-color: #2e7d32; color: white; border: none; padding: 12px; width: 100%; border-radius: 8px; font-weight: bold;
  }

  .h2{
    color: #2e7d32; 
    text-align: center;
  
  }